.notfound {
  position: fixed;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  h1 {
    font-size: 130px;
    font-weight: 900;
    line-height: 80px;
  }
  h2 {
    font-size: 70px;
    font-weight: 700;
  }
  a {
    font-size: 20px;
    font-weight: 500;
  }
  .red {
    color: red;
  }
}
